<div class="col-md-10 offset-md-1">
    <div class="card card-body bg-light">
        <p>
            Plućna hipertenzija (PH) je patofiziološki i hemodinamski poremećaj uzrokovan različitim kliničkim stanjima i bolestima.

            Zlatni standard u dijagnostici i praćenju ovih pacijenata jeste kateterizacija desnog srca kojom se plućna hipertenzija jasno definiše kada je srednji arterijski plućni pritisak u stanju mirovanja ≥25mmHg.

            Klinička klasifikacija plućne hipertenzije obuhvata pet grupa različitog uzroka nastanka. Posebnu grupu u okviru ove podele čini primarna plućna arterijska hipertenizja (PAH) kao retko oboljenje sa prosečnom incidencom 10-50/1000000 stanovnika.  Neprepoznata i nelečena PH vodi ka remodelovanju desne komore i insuficijenciji srca. Terapijski tretman zahteva multidisciplinarnost i podrazumeva lečenje osnovne bolesti ali i specifičnu, PH terapiju. Nažalost, najveći broj ovih lekova nije registrovan u našoj zemlji.

            U Institutu za plućne bolesti Vojvodine formiran je tim i komisija za plućnu hipertenziju. Multidisciplinaran pristup u dijagnostičkom smislu omogućen je i u okviru naše ustanove, te se svake godine dijagnostikuje sve veći i veći broj pacijenata, a radi se i na implementaciji programa ranog skrininga rizičnih grupa.

            Institut za plućne bolesti Vojvodine u aktivnoj je saradnji sa Udruženjem pacijenata za plućnu hipertenziju Srbije. Sve aktivnosti ovog udruženja možete pogledati ovde:
        </p>
    </div>
</div>