
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Params</title>
    
</head>
<body>
    <h1>Test</h1>
    <canvas id="graph" width="400" height="300"></canvas>
    <script src="~/js/graph.js"></script>
</body>
</html>
